* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Big Shoulders Display", cursive;
  font-family: "Outfit", sans-serif;
}

:root {
  --box1-bg-color:hsl(31, 77%, 52%);
  --box2-bg-color:hsl(184, 100%, 22%);
  --box3-bg-color:hsl(179, 100%, 13%);
  --para-color:hsla(0, 0%, 100%, 0.75);
  --background-heading-buttons: hsl(0, 0%, 95%);
  --para-font:15px;
  --header-font-weight:700;
  --para-font-weight:400;
}

body {
  font-size: var(--para-font);
  width: 100%;
  height: 100vh;
  background-color:hsla(0, 0%, 100%, 0.75);
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.main .container {
  padding: 3rem 0;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
}
.main .container .box {
  flex: 1 1 250px;
  max-width: 320px;
  padding: 2rem 1rem;
}
.main .container .box .inner {
  padding: 1.3rem;
}
.main .container .box .icon {
  margin: 1rem 0;
}
.main .container .box .icon img {
  max-width: 100%;
}
.main .container .box h1 {
  margin: 2rem 0;
  color: var(--background-heading-buttons);
  font-weight: var(--header-font-weight);
  text-transform: uppercase;
}
.main .container .box p {
  color: var(--para-color);
  line-height: 25px;
  margin: 1rem 0;
}
.main .container .box .btn {
  margin: 2rem 0;
  border: 2px solid var(--background-heading-buttons);
  background: transparent;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  color: var(--para-color);
  font-size: 15px;
  font-weight: var(--para-font-weight);
  transition: 0.4s ease;
  cursor: pointer;
}
.main .container .box .btn:hover {
  background-color: var(--background-heading-buttons);
}
.main .container .box1 {
  background-color: var(--box1-bg-color);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.main .container .box1 .btn:hover {
  color: var(--box1-bg-color);
}
.main .container .box2 {
  background-color: var(--box2-bg-color);
}
.main .container .box2 .btn:hover {
  color: var(--box2-bg-color);
}
.main .container .box3 {
  background-color: var(--box3-bg-color);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.main .container .box3 .btn:hover {
  color: var(--box3-bg-color);
}

@media screen and (max-width: 425px) {
  .main .container {
    width: 90%;
    padding: 3rem 1rem;
  }
  .main .container .box {
    flex: 1 1 200px;
    max-width: 100%;
    padding: 3rem 1rem;
  }
  .main .container .box1 {
    background-color: var(--box1-bg-color);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .main .container .box1 .btn:hover {
    color: var(--box1-bg-color);
  }
  .main .container .box2 {
    background-color: var(--box2-bg-color);
  }
  .main .container .box2 .btn:hover {
    color: var(--box2-bg-color);
  }
  .main .container .box3 {
    background-color: var(--box3-bg-color);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  .main .container .box3 .btn:hover {
    color: var(--box3-bg-color);
  }
}
.attribution {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
}
.attribution a {
  font-size: 1.3rem;
  color: #000;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */
